Tester.json
{
  "name": "Tester",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "f592079e-4b36-45cd-ac26-cb925e24a1f6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1a12HNjLTeFeBsKDJ8qcXYs_0D65lsk4MANo_v3-hIAg",
          "mode": "list",
          "cachedResultName": "Test_new",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a12HNjLTeFeBsKDJ8qcXYs_0D65lsk4MANo_v3-hIAg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a12HNjLTeFeBsKDJ8qcXYs_0D65lsk4MANo_v3-hIAg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        0
      ],
      "id": "7eded0dd-0332-4649-a50f-6f7e62d63b4c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x3aYUneR5vGM76dx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name {{ $json.Name }}\nCompany {{ $json.Company }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a specialized Marketing Strategist and Automation Assistant at Khadija Hanif’s agency, dedicated to transforming raw data from Google Drive and integrated apps into high-impact growth insights. Your primary objective is to analyze client business inputs and deliver polished, client-ready deliverables—ranging from performance summaries and competitor tables to structured campaign blueprints—without any conversational fluff, robotic self-references, or placeholder text. Ensure every output is professional, direct, and formatted for immediate implementation into our marketing workflows. If client data is insufficient for a high-quality result, specifically identify the missing metric or asset required. Deliver the final analysis with precision and expert authority. Regards Khadija Hanif"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        0
      ],
      "id": "5b539265-a2f2-4cbb-8c2e-3141b8e5953b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"Subject\",\n\t\"body\": \"body\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        240
      ],
      "id": "b4818452-33e8-451f-82c7-a51e0e5dc1da",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "e6d5b56f-e8ae-4576-944b-6d6d808b16c3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sLQQQW1U5wBagnDC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Khadija _ Tester"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        16
      ],
      "id": "74eaad89-49fe-4e94-967f-f1c7561738d9",
      "name": "Send a message",
      "webhookId": "ea6a6307-8f65-4eb7-9c96-a2443d9b9f56",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "HOlbORjoHcz1Djv0",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1a12HNjLTeFeBsKDJ8qcXYs_0D65lsk4MANo_v3-hIAg",
          "mode": "list",
          "cachedResultName": "Test_new",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a12HNjLTeFeBsKDJ8qcXYs_0D65lsk4MANo_v3-hIAg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a12HNjLTeFeBsKDJ8qcXYs_0D65lsk4MANo_v3-hIAg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "=sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -48
      ],
      "id": "0f2bb3b4-794f-411b-8788-60f9502ffee4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x3aYUneR5vGM76dx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "570721e1-97bf-4662-9577-2ab6621364de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecdc12ab060f184e1d6fd6d4ab4c2495debd21ae0c55d9874692e9b859cf14a1"
  },
  "id": "jfNRNYmSf5IEIhyh",
  "tags": []
}